.btn-reduce {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.quantity {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.btn-increment {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}